.box {
  display: block;
}

.box--py-xs {
  padding-top: 8px;
  padding-bottom: 8px;
}

.box--py-sm {
  padding-top: 16px;
  padding-bottom: 16px;
}

.box--py-md {
  padding-top: 24px;
  padding-bottom: 24px;
}

.box--py-lg {
  padding-top: 32px;
  padding-bottom: 32px;
}

.box--py-xl {
  padding-top: 48px;
  padding-bottom: 48px;
}

.box--px-xs {
  padding-left: 8px;
  padding-right: 8px;
}

.box--px-sm {
  padding-left: 16px;
  padding-right: 16px;
}

.box--px-md {
  padding-left: 24px;
  padding-right: 24px;
}

.box--px-lg {
  padding-left: 32px;
  padding-right: 32px;
}

.box--px-xl {
  padding-left: 48px;
  padding-right: 48px;
} 