.stack {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.stack--gap-xs {
  gap: 4px;
}

.stack--gap-sm {
  gap: 8px;
}

.stack--gap-md {
  gap: 12px;
}

.stack--gap-lg {
  gap: 16px;
}

.stack--gap-xl {
  gap: 24px;
}

.stack--align-stretch {
  align-items: stretch;
}

.stack--align-center {
  align-items: center;
}

.stack--align-flex-start {
  align-items: flex-start;
}

.stack--align-flex-end {
  align-items: flex-end;
}

.stack--justify-flex-start {
  justify-content: flex-start;
}

.stack--justify-center {
  justify-content: center;
}

.stack--justify-flex-end {
  justify-content: flex-end;
}

.stack--justify-space-between {
  justify-content: space-between;
}

.stack--justify-space-around {
  justify-content: space-around;
}

.stack--text-left {
  text-align: left;
}

.stack--text-center {
  text-align: center;
}

.stack--text-right {
  text-align: right;
}

.stack--py-xs {
  padding-top: 8px;
  padding-bottom: 8px;
}

.stack--py-sm {
  padding-top: 16px;
  padding-bottom: 16px;
}

.stack--py-md {
  padding-top: 24px;
  padding-bottom: 24px;
}

.stack--py-lg {
  padding-top: 32px;
  padding-bottom: 32px;
}

.stack--py-xl {
  padding-top: 48px;
  padding-bottom: 48px;
}

.stack--px-xs {
  padding-left: 8px;
  padding-right: 8px;
}

.stack--px-sm {
  padding-left: 16px;
  padding-right: 16px;
}

.stack--px-md {
  padding-left: 24px;
  padding-right: 24px;
}

.stack--px-lg {
  padding-left: 32px;
  padding-right: 32px;
}

.stack--px-xl {
  padding-left: 48px;
  padding-right: 48px;
}

.stack--pt-xs {
  padding-top: 8px;
}

.stack--pt-sm {
  padding-top: 16px;
}

.stack--pt-md {
  padding-top: 24px;
}

.stack--pt-lg {
  padding-top: 32px;
}

.stack--pt-xl {
  padding-top: 48px;
}

.stack--pb-xs {
  padding-bottom: 8px;
}

.stack--pb-sm {
  padding-bottom: 16px;
}

.stack--pb-md {
  padding-bottom: 24px;
}

.stack--pb-lg {
  padding-bottom: 32px;
}

.stack--pb-xl {
  padding-bottom: 48px;
}

.stack--pl-xs {
  padding-left: 8px;
}

.stack--pl-sm {
  padding-left: 16px;
}

.stack--pl-md {
  padding-left: 24px;
}

.stack--pl-lg {
  padding-left: 32px;
}

.stack--pl-xl {
  padding-left: 48px;
}

.stack--pr-xs {
  padding-right: 8px;
}

.stack--pr-sm {
  padding-right: 16px;
}

.stack--pr-md {
  padding-right: 24px;
}

.stack--pr-lg {
  padding-right: 32px;
}

.stack--pr-xl {
  padding-right: 48px;
} 