.stack {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.stack--gap-xs {
  gap: 4px;
}

.stack--gap-sm {
  gap: 8px;
}

.stack--gap-md {
  gap: 12px;
}

.stack--gap-lg {
  gap: 16px;
}

.stack--gap-xl {
  gap: 24px;
}

.stack--align-stretch {
  align-items: stretch;
}

.stack--align-center {
  align-items: center;
}

.stack--align-flex-start {
  align-items: flex-start;
}

.stack--align-flex-end {
  align-items: flex-end;
}

.stack--justify-flex-start {
  justify-content: flex-start;
}

.stack--justify-center {
  justify-content: center;
}

.stack--justify-flex-end {
  justify-content: flex-end;
}

.stack--justify-space-between {
  justify-content: space-between;
}

.stack--justify-space-around {
  justify-content: space-around;
}

.stack--text-left {
  text-align: left;
}

.stack--text-center {
  text-align: center;
}

.stack--text-right {
  text-align: right;
} 