.paper {
  background-color: var(--color-background-primary);
  border-radius: var(--radius-lg);
}

.paper--padding-xs {
  padding: 8px;
}

.paper--padding-sm {
  padding: 12px;
}

.paper--padding-md {
  padding: 16px;
}

.paper--padding-lg {
  padding: 24px;
}

.paper--padding-xl {
  padding: 32px;
}

.paper--radius-xs {
  border-radius: var(--radius-xs);
}

.paper--radius-sm {
  border-radius: var(--radius-sm);
}

.paper--radius-md {
  border-radius: var(--radius-md);
}

.paper--radius-lg {
  border-radius: var(--radius-lg);
}

.paper--radius-xl {
  border-radius: var(--radius-xl);
}

.paper--radius-2xl {
  border-radius: var(--radius-2xl);
}

.paper--withBorder {
  border: 1px solid var(--color-border-light);
}

.paper--shadow-xs {
  box-shadow: var(--shadow-xs);
}

.paper--shadow-sm {
  box-shadow: var(--shadow-sm);
}

.paper--shadow-md {
  box-shadow: var(--shadow-md);
}

.paper--shadow-lg {
  box-shadow: var(--shadow-lg);
}

.paper--shadow-xl {
  box-shadow: var(--shadow-xl);
} 